
.gallery {
  display: grid;
  grid-template-rows: repeat(5, 10vh);
  grid-template-columns: repeat(2, 20vw);
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.2);
  background-color: #82a6cb;
  border-radius: 10px;
  padding: 0.25em;
  cursor: zoom-in;
}
@media (min-width: 40em) {
  .gallery {
    grid-template-columns: repeat(5, 10vw);
    grid-template-rows: repeat(2, 20vh);
  }
}
@media (min-width: 60em) {
  .gallery {
    
  }
}

.complaint-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.67;
  filter: sepia(80%) hue-rotate(180deg);
}
.complaint-img:first-child {
  border-radius: 10px 10px 0 0;
}
.complaint-img:last-child {
  border-radius: 0 0 10px 10px;
}
@media (min-width: 40em) and (max-width: 59.99em) {
  .complaint-img:first-child {
    border-radius: 10px 0 0 0;
  }
  .complaint-img:nth-child(5) {
    border-radius: 0 10px 0 0;
  }
  .complaint-img:nth-child(6) {
    border-radius: 0 0 10px 0;
  }
  .complaint-img:last-child {
    border-radius: 0 0 0 10px;
  }
}
@media (min-width: 60em) {
  .complaint-img:first-child {
    border-radius: 10px 0 0 10px;
  }
  .complaint-img:last-child {
    border-radius: 0 10px 10px 0;
  }
}
.complaint-img:hover {
  opacity: 1;
  z-index: 1;
  box-shadow: 1em 1em 1em #0004;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  filter: sepia(0%) hue-rotate(0deg);
  border-radius: 5px;
  width: 200%;
  height: 200%;
  left: 0%;
  top: -50%;
}
@media (min-width: 40em) {
  .complaint-img:hover {
    width: 400%;
    height: 130%;
    left: -50%;
    top: -20%;
  }
}
@media (min-width: 40em) and (orientation: portrait) {
  .complaint-img:hover {
    width: 400%;
    height: 150%;
    left: 0%;
    top: -50%;
  }
}
@media (min-width: 60em) {
  .complaint-img:hover {
    width: 200%;
    height: 200%;
    left: 0%;
    top: -50%;
  }
  .complaint-img:hover ~ .complaint-img {
    /* left: 175%; */
  }
}
@media (min-width: 60em) and (orientation: landscape) {
  .complaint-img:hover {
    width: 400%;
    height: 200%;
    left: 0%;
    top: -50%;
  }
  .complaint-img:hover ~ .complaint-img {
    /* left: 50%; */
  }
}