.copyright-body{
    left: 0px;
    width: 100%;
    height: 5vw;
    position:relative;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px -8px 24px #00000029;
    opacity: 1;
    text-align: center;
    padding:1%;
    vertical-align: middle;
    font: normal normal normal 2vw/3vw Segoe UI;
    letter-spacing: 0px;
    color: #2B6777;
    z-index:10;
}