.title-body{
    top: 0px;
    position:relative;
    left: 0px;
    width: 100%;
    height: 70px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000029;
    padding:1%;
    opacity: 1;
    font: normal normal normal 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #2B6777;
    text-align:center;
    vertical-align: middle;
    z-index:1;
}

.title-img{

}